section.photo
	.container
		.row
			.col-md-5
				img(src="assets/images/banner1.jpg")
			.col-md-7
				img(src="assets/images/banner2.jpg")
section.book.text-center
	.container
		.row
			h2 
				span.fa.fa-chevron-left LATEST BESTSELLER SALE
				span.fa.fa-chevron-right
			.col-md-3
				.cdr-book
					img(src="assets/images/a1.jpg")
					p Deliver Wide
					p
						span.fa.fa-star-o
						span.fa.fa-star-o
						span.fa.fa-star-o
						span.fa.fa-star
						span.fa.fa-star
					p.pink $218.00
			.col-md-3
				.cdr-book
					img(src="assets/images/b1.jpg")
					p Deliver Wide
					p
						span.fa.fa-star-o
						span.fa.fa-star-o
						span.fa.fa-star-o
						span.fa.fa-star
						span.fa.fa-star
					p.pink 
						span $242.00 
							$218.00
			.col-md-
				.cdr-book
					img(src="assets/images/c1.jpg")
					p Deliver Wide
					p
						span.fa.fa-star-o
						span.fa.fa-star-o
						span.fa.fa-star-o
						span.fa.fa-star
						span.fa.fa-star
					p.pink
						span $242.00 
							$218.00
			.col-md-3
				.cdr-book
					img(src="assets/images/d1.jpg")
					p Deliver Wide
					p
						span.fa.fa-star-o
						span.fa.fa-star-o
						span.fa.fa-star-o
						span.fa.fa-star
						span.fa.fa-star
					p.pink
						span $242.00 
							$218.00
section.auspicio
	.container
		.logos
			img(src="assets/images/client1.jpg")
			img(src="assets/images/client2.jpg")
			img(src="assets/images/client3.jpg")
			img(src="assets/images/client4.jpg")
			img(src="assets/images/client5.jpg")
			img(src="assets/images/client6.jpg")
section.venta
	.container
		.row
			h2 
				span.fa.fa-chevron-left CLOTHING EQUIPMENTS JEWELERY
				span.fa.fa-chevron-right
			.col-md-4
				img(src="assets/images/a2.jpg")
				p Deliver Widep.
				p.pink
						span $242.00 
							$218.00
				p
					span.fa.fa-star-o
					span.fa.fa-star-o
					span.fa.fa-star-o
					span.fa.fa-star
					span.fa.fa-star
				a(href="#")
					i.fa.fa-shopping-cart Add to Cart
			.col-md-4
				img(src="assets/images/g2.jpg")
				p Deliver Widep.
				p.pink
						span $242.00 
							$218.00
				p
					span.fa.fa-star-o
					span.fa.fa-star-o
					span.fa.fa-star-o
					span.fa.fa-star
					span.fa.fa-star
				a(href="#")
					i.fa.fa-shopping-cart Add to Cart
			.col-md-4
				img(src="assets/images/g2.jpg")
				p Deliver Widep.
				p.pink
						span $242.00 
							$218.00
				p
					span.fa.fa-star-o
					span.fa.fa-star-o
					span.fa.fa-star-o
					span.fa.fa-star
					span.fa.fa-star
				a(href="#")
					i.fa.fa-shopping-cart Add to Cart
		.row
			.col-md-4
				img(src="assets/images/c2.jpg")
				p Deliver Widep.
				p.pink
						span $242.00 
							$218.00
				p
					span.fa.fa-star-o
					span.fa.fa-star-o
					span.fa.fa-star-o
					span.fa.fa-star
					span.fa.fa-star
				a(href="#")
					i.fa.fa-shopping-cart Add to Cart
			.col-md-4
				img(src="assets/images/c2.jpg")
				p Deliver Widep.
				p.pink
						span $242.00 
							$218.00
				p
					span.fa.fa-star-o
					span.fa.fa-star-o
					span.fa.fa-star-o
					span.fa.fa-star
					span.fa.fa-star
				a(href="#")
					i.fa.fa-shopping-cart Add to Cart
			.col-md-4
				img(src="assets/images/e2.jpg")
				p Deliver Widep.
				p.pink
						span $242.00 
							$218.00
				p
					span.fa.fa-star-o
					span.fa.fa-star-o
					span.fa.fa-star-o
					span.fa.fa-star
					span.fa.fa-star
				a(href="#")
					i.fa.fa-shopping-cart Add to Cart
section.blog
	.container
		.row
			h2 
				span.fa.fa-chevron-left BLOG
				span.fa.fa-chevron-right
			.col-md-3
				img(src="assets/images/blog2.jpg")
				p THE SAMPLE HEADING TITTLE
				P 27/11/2015
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dicta accusantium error distinctio blanditiis sapiente non itaque, sint rerum a impedit quisquam obcaecati explicabo, delectus in labore hic, omnis possimus.	
				p.pink Read More...
			.col-md-3
				img(src="assets/images/blog1.jpg")
				p THE SAMPLE HEADING TITTLE
				P 27/11/2015
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dicta accusantium error distinctio blanditiis sapiente non itaque, sint rerum a impedit quisquam obcaecati explicabo, delectus in labore hic, omnis possimus.	
				p.pink Read More...
			.col-md-3
				img(src="assets/images/blog2.jpg")
				p THE SAMPLE HEADING TITTLE
				P 27/11/2015
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dicta accusantium error distinctio blanditiis sapiente non itaque, sint rerum a impedit quisquam obcaecati explicabo, delectus in labore hic, omnis possimus.	
				p.pink Read More...
			.col-md-3
				img(src="assets/images/blog3.jpg")
				p THE SAMPLE HEADING TITTLE
				P 27/11/2015
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dicta accusantium error distinctio blanditiis sapiente non itaque, sint rerum a impedit quisquam obcaecati explicabo, delectus in labore hic, omnis possimus.	
				p.pink Read More...
section.prom
	.container
		.row
			.col-md-4
				.cdr-prom
					i.fa.fa-phone-square
					p ORDER ONLINE NOW
					p Call Us:(0123) 456 789
			.col-md-4
				.cdr-prom
					i.fa.fa-plane
					p FREE WORLDWIDE SHIPPING
					p On Order Over $100
			.col-md-4
				.cdr-prom
					i.fa.fa-money
					p 30 DAYS MONEY BACK 100%
					p Satisfaction Guarantee