footer
	.container
		.row
			.col-md-3
				h4 ACCESORIES
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores saepe vero, obcaecati numquam esse rerum itaque quae adipisci nam. Eius labore quia
				a(href="#").fa.fa-facebook.fa-stack.media-social
				a(href="#").fa.fa-twitter.fa-stack.media-social
				a(href="#").fa.fa-rss.fa-stack.media-social
				a(href="#").fa.fa-skype.fa-stack.media-social
				a(href="#").fa.fa-dribbble.fa-stack.media-social
			.col-md-2
				h4 MY ACCOUNT
				p 
					i.fa.fa-caret-right 
					| MyAccount
				p
					i.fa.fa-caret-right 
					| Order History
				p
					i.fa.fa-caret-right
					| Wish List
				p
					i.fa.fa-caret-right 
					| Newsletter
			.col-md-2
				h4 IMFORMATION
				p
					i.fa.fa-caret-right
					| About Us
				p
					i.fa.fa-caret-right
					| Delivery Imformation
				p
					i.fa.fa-caret-right
					|Privacy Policy
				p
					i.fa.fa-caret-right
					| Terms & Conditions
			.col-md-2
				h4 EXTRAS
				p
					i.fa.fa-caret-right
					| Brands
				p
					i.fa.fa-caret-right 
					| Gift Policy
				p
					i.fa.fa-caret-right 
					| Affiliates
				p
					i.fa.fa-caret-right
					| Specials
			.col-md-3
				h4 ABOUT US
				p
					i.fa.fa-map-marker.circle
					| 8901 Marmona Road, Glasgow D04 89 GR, New York
				p
					i.fa.fa-phone.circle
					| (0123)456789 (0987)654321
				p
					i.fa.fa-envelope.circle
					| admin@bootexperts.com
.cards
	.container
		p.pull-left Copyright &copy 2015 
		span.pink BootExperts. 
		| All rights reserved
		img.pull-right(src="assets/images/payment.png")
