doctype
html
	head
		title Fashion Accsesories
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(href='https://fonts.googleapis.com/css?family=Raleway:400,600', rel='stylesheet', type='text/css')
		link(rel="stylesheet",href="assets/css/bootstrap.css")
		link(rel="stylesheet",href="assets/sass/main.css")

	body
		include secciones/header.jade
		include secciones/bodycontact.jade
		include secciones/footer.jade
	script(type="text/javascript", src="assets/js/jquery.min.js")
	script(type="text/javascript", src="assets/js/bootstrap.min.js")
